@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-color: #333;
  --link-color: #1a202c;
  --link-hover-color: #2d3748;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --text-color: #f7fafc;
    --link-color: #e2e8f0;
    --link-hover-color: #cbd5e0;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} 


a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
